<a href="https://colab.research.google.com/github/anuragsaini2472002/DataScience_assignments-/blob/main/Assignment_Statements%2C_Indentation_and_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

### As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

* if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3' 

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [19]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = input()

5-5-2020

In [ ]:
# Write your code using if else statements to extract the quarter
result = user_date.split('-')
date_day, date_month, date_year = result
print(date_month)
# Store the quarter value in a string variable named quarter
if date_year == 2020 and date_month >= 1 and date_month <= 3:
  quarter = '2020-Q1'
elif (date_year == 2020 and date_month >= 4 and date_month <= 6):
  quarter = '2020-Q2'
elif date_year == 2020 and date_month >= 7 and date_month <= 9:
  quarter = '2020-Q3'
else:
  quarter = '2020-Q4'

In [ ]:
# Print the extracted quarter
print(quarter)

## <u>Problem 2 </u>

* You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [26]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

* Find the mean and median heights and weights of the people in your locality

In [56]:
# Calculate the mean height and print it
height = locality_data['Height']
n_height = len(height) 
result = sum(height)/n_height
print(result)

# Calculate the median height and print it
sort_height = sorted(height)
print(sort_height)
med_height = int((n_height-1)/2)
print(med_height)
med_result = sort_height[med_height]
print(med_result)


# Calculate the mean weight and print it
weight = locality_data['Weight']
n_weight = len(weight)
mean_result = sum(weight)/n_weight
print(mean_result)

# Calculate the median weight and print it
sort_weight = sorted(weight)
print(sort_weight)
med_weight = int((n_weight-1)/2)
print(med_weight)
med_weight_result = sort_weight[med_weight]
print(med_weight_result)

171.0
[168, 170, 170, 172, 175]
2
170
66.2
[55, 60, 64, 70, 82]
2
64

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [58]:
# Python code to print the first three elements for the key 'Age'

ages = locality_data['Age']
print(ages[:3])

[42, 29, 35]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [63]:
# Your code below
if 'Rashmi' in locality_data['Name']:
  print(locality_data['Name'][-2:])
else:
  print("Name not found!")

['Rashmi', 'Vaishali']

## <u> Problem 3 </u>

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user
* Number of classes held
* Number of classes attended.

In [67]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
100
Number of classes attended
80

In [68]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance}')

The attendance is 80.0

And print the following statements based on the condition above

* percentage of class attended
* Is student is allowed to sit in exam or not.

In [69]:
# Your code here 
if attendance > 75:
  print("Allowed to sit in exam")
else:
  print("Not allowed to sit in exam")

Allowed to sit in exam

## <u>Problem 4</u>

### A school has following rules for grading system:
* Below 25 - F
* 25 to 45 - E
* 45 to 50 - D
* 50 to 60 - C
* 60 to 80 - B
* Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [72]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
77

In [73]:
# Your code here to print the corresponding grade
if marks >= 80:
  print("A")
elif marks >= 60 and marks < 80:
  print("B")
elif marks >= 50 and marks < 60:
  print("C")
elif marks >= 45 and marks < 50:
  print("D")
elif marks >= 25 and marks < 45:
  print("E")
else:
  print("F")

B