<a href="https://colab.research.google.com/github/anuragsaini2472002/DataScience_assignments-/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [5]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [6]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [7]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)

In [8]:
# Swap the highest and the lowest temperatures
max_temp, min_temp = min_temp, max_temp

In [9]:
# Print the output list
temperatures

[34, 40, 29, 33, 42, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [10]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [11]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
n = len(prod_price_list)
mean_price = sum(prod_price_list)/n
print(mean_price)

1975.0

### Calculate the median price

In [12]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = prod_price_list.sort()

In [53]:
# Check if the number of elements in the list is even or odd
n = len(prod_price_list)
if n%2==0:
  print("Even")
else:
  print("Odd")

Even

In [56]:
# Use the corresponding formula to calculate the median and print the median
if n%2==0:
  median_price = (n+1)/2
else:
  median_price = n/2 
print(median_price)

5.5

In [58]:
# Check which is greater, mean or median
if mean_price>median_price:
  print(mean_price)
else:
  print(median_price)

1975.0

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [51]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [26]:
# Write your code below
newList = tech_companies[:3]
tech_companies = newList.extend(tech_companies[3])
print(newList)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [52]:
# Do the same task another way
tech_companies.pop()
tech_companies.extend(['Nvidia','Cisco','Samsung'])
tech_companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']